@model IEnumerable<SalesStatistics.Web.Models.ViewModels.ItemViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@if (Roles.IsUserInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<div id="itemsTable">
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        onItemsTableLoad = function () {
            $.get('@Url.Action("GetItems", "Item")', null,
                function (data) {
                    $("#itemsTable").html(data);
                });
        }

        onItemsTableLoad();
    </script>
}