@model SalesStatistics.Web.Models.Requests.ManagersRequestViewModel

@using (Ajax.BeginForm("Find", "Manager", new AjaxOptions()
{
    HttpMethod = "GET",
    UpdateTargetId = "customersTable",
    InsertionMode = InsertionMode.Replace
}))
{
    <div class="form-group">
        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input id="searchButton" type="submit" value="Search" class="btn btn-primary" />
        </div>
    </div>
}

