@model IEnumerable<SalesStatistics.Web.Models.ViewModels.ManagerViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@if (Roles.IsUserInRole("Admin"))
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

<div id="managersTable">
    @*@Html.Partial("_ManagersTable")*@
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script type="text/javascript">
        onManagersTableLoad = function () {
            $.get('@Url.Action("GetManagers", "Manager")', null,
                function (data) {
                    $("#managersTable").html(data);
                });
        }

        onManagersTableLoad();
    </script>
}



